.form {
    position: absolute;
    top:25px;
}

.form-input-username,
.form-input-password {
    width: 300px;
    height: 40px;
    background: $color-form-field;
    &.active{
        border: 3px solid $color-active;
    }
}
