.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    visibility: hidden;
}

.layout-wrap {
    position: relative;
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    background-color: $color-background;
}
.layout-pane-left,
.layout-pane-right {
    float: left;
    width: 340px;
    height: 100%;
    padding: 0 25px;
    background-color: $color-pane;
}
.layout-pane-right {
    width: 940px;
    height: 100%;
    background-color: inherit;
}
