html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    padding: 0;
    font-family: 'Muli', Arial, sans-serif;
}

object {
    position: absolute;
}

/* Apply a natural box layout model to all elements (http://www.paulirish.com/2012/box-sizing-border-box-ftw/) */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    outline: none;
}

img {
    max-width: 100%;
}

h1, h2 {
    font-family: MuliLight, sans-serif;
}

.copyright {
    position: absolute;
    bottom: 15px;
}
