/* -----------------
Font Definitions
----------------- */
@font-face {
    font-family: 'Muli';
    src: url('../fonts/muli/muli-regular.eot');
    src: url('../fonts/muli/muli-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/muli/muli-regular.woff') format('woff'),
    url('../fonts/muli/muli-regular.ttf') format('truetype'),
    url('../fonts/muli/muli-regular.svg#muliregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuliLight';
    src: url('../fonts/muli/muli-light.eot');
    src: url('../fonts/muli/muli-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/muli/muli-light.woff') format('woff'),
    url('../fonts/muli/muli-light.ttf') format('truetype'),
    url('../fonts/muli/muli-light.svg#mulilight') format('svg');
    font-weight: normal;
    font-style: normal;
}
